<div class="announcementLayoutDiv">
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('../../assets/images/TopImage.JPG');
    height: 320px;
  ">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <h1 class="mb-lg-3 jumboTitle">Welcome to CSCI X691</h1>
        <h4 class="mb-3 jumboSubTitle">Dalhousie Community Outreach</h4>
      </div>
    </div>
  </div>
</div>

<h1 class="heading1" >Welcomen to announcement page</h1>

<mat-card class="annoIntro">
    <mat-card-title>Testing announcement title</mat-card-title>
    <mat-card-content></mat-card-content>
    
    <mat-card-content>
        This is a test description of an announcement that would be created
    </mat-card-content>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle>Submmit by "John Doe at 3:30/June/2/2021</mat-card-subtitle>
  </mat-card>
  <mat-card class="annoIntro">
    <mat-card-title>Testing announcement title</mat-card-title>
    <mat-card-content></mat-card-content>
    
    <mat-card-content>
        This is a test description of an announcement that would be created
    </mat-card-content>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle>Submmit by "John Doe at 3:30/June/2/2021</mat-card-subtitle>
  </mat-card>
  <mat-card class="annoIntro">
    <mat-card-title>Testing announcement title</mat-card-title>
    <mat-card-content></mat-card-content>
    
    <mat-card-content>
        This is a test description of an announcement that would be created
    </mat-card-content>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle>Submmit by "John Doe at 3:30/June/2/2021</mat-card-subtitle>
  </mat-card>
  <mat-card class="annoIntro">
    <mat-card-title>Testing announcement title</mat-card-title>
    <mat-card-content></mat-card-content>
    
    <mat-card-content>
        This is a test description of an announcement that would be created
    </mat-card-content>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle>Submmit by "John Doe at 3:30/June/2/2021</mat-card-subtitle>
  </mat-card>
  <mat-card class="annoIntro">
    <mat-card-title>Testing announcement title</mat-card-title>
    <mat-card-content></mat-card-content>
    
    <mat-card-content>
        This is a test description of an announcement that would be created
    </mat-card-content>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle>Submmit by "John Doe at 3:30/June/2/2021</mat-card-subtitle>
  </mat-card>
</div>