<div class="clientContent">
  <!-- Sidebar Start -->
  <div class="wrapper sideBar">
    <nav id="sidebar">
      <ul class="list-unstyled components sidebarNav">
        <li class="active">
          <a href="student-dashboard">Overview</a>
        </li>
        <li>
          <a href="student-dashboard">Submitted RFP's</a>
        </li>
        <li>
          <a href="student-dashboard">Past Projects</a>
        </li>
        <li>
          <a href="student-dashboard">Other</a>
        </li>
        <li>
          <a href="../changepw">Update Password</a>
      </ul>
    </nav>
  </div>
  <!-- Sidebar End -->
  <!-- Column 1 Start -->
  <div class="column1">
    <!-- Pending Project Requests Start -->
    <div class="RequestsCard">
      <mat-card>
        <mat-card-title>Current Project</mat-card-title>
        <mat-card-content>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Project Type</th>
              <th scope="col">RFP</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>X691 Course Website</td>
              <td>Web Application</td>
              <td><a href="assets/images/TopImage.JPG">RFP</a></td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Risk Management Platform</td>
              <td>Web Application</td>
              <td><a href="assets/images/TopImage.JPG">RFP</a></td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Health Application</td>
              <td>Mobile</td>
              <td><a href="assets/images/TopImage.JPG">RFP</a></td>
              <td>Submitted</td>
            </tr>
            <tr>
              <td>Mobile Game</td>
              <td>Mobile</td>
              <td><a href="assets/images/TopImage.JPG">RFP</a></td>
              <td>Pending</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Pending Project Requests End -->
    <!-- Active Project Start -->
    <div class="projectsCard">
      <mat-card>
        <mat-card-title>Past Projects</mat-card-title>
        <mat-card-content>
          <div id="accordion">
            <app-accordian>
              <p header>X691 Course Website - Team I</p>
              <p content>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </app-accordian>
            <app-accordian>
              <p header>Risk Management Project - Team Fred Winters</p>
              <p content>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </app-accordian>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Active Project End -->
  </div>
  <!-- Column 1 End -->
  <!-- Column 2 Start -->
  <div class="column2">
    <!-- Iteration Start -->
    <div class="evaluationCard">
      <!-- Upcoming Iterations -->
      <mat-card class="members2">
        <mat-card-title>Upcoming Iterations</mat-card-title>
        <mat-card-content>
          You have no upcoming Iterations
        </mat-card-content>
      </mat-card>
      <mat-card class="members1">
        <mat-card-title>Iteration Evaluations</mat-card-title>
        <mat-card-content>
          No Iterations Evaluations have been completed
        </mat-card-content>
      </mat-card>
      <!-- Iteration Evaluations ends -->
    </div>
    <!-- Members End -->
    <!-- Announcements Start -->
    <div class="announcements">
      <mat-card>
        <mat-card-title>Class Announcements</mat-card-title>
        <mat-card-content>
          <ul class="list-group announcementLists">
            <li class="list-group-item"><strong><a href="##">Brightspace Announcement</a></strong></li>
            <li class="list-group-item"><strong><a href="##">Happy Reading Week</a></strong></li>
            <li class="list-group-item"><strong><a href="##">Milestone 1 Grades Released</a></strong></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Announcements End -->
    <!-- Other Start -->
    <div class="otherCard">
      <mat-card>
        <mat-card-title>Other Student Stuffs</mat-card-title>
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  Submit the Student Questionnaire - <a class="submitQuestions" href="../../assets/images/TopImage.JPG">Start Questionnaire</a>
                </td>
              </tr>
              <tr>
                <td>
                  Take Agile Quiz <a class="submitQuestions" href="../../assets/images/TopImage.JPG">Here</a>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Column 2 End -->
</div>
