.adminContent {
  min-height: 800px;
  display: flex;
  flex-flow: row wrap;
}

.sideBar {
  min-height: 800px;
  background-color: #000000;
  max-width: 350px;
  width: 15%;
  color: white;
}

.sidebarNav li {
  height: 2em;
  margin: 2em;
  width: 100%;
}

.sidebarNav li a {
  color: white;
  font-size: large;
  text-decoration: none;
  height: 2em;
  padding: 0.7em 2em 0.7em 2em;
  width: 100%;
}

.sidebarNav li a:hover {
  color: white;
  background-color: #c08c0c;
  width: 100%;
  font-size: large;
  text-decoration: none;
}

.RFPCard {
  width: 95%;
  margin: 2rem;
}

.membersCard {
  width: 95%;
  margin: 2rem;
}

.analyticsCard {
  width: 95%;
  margin: 2rem;
}

.otherCard {
  width: 95%;
  margin: 2rem;
}
.members2 {
  margin-top: 2rem;
}

.column1{
  width: 40%;
}

.column2 {
  width: 40%;
}

.linkDisplay {
  min-width: 4rem;
}

.dropdownClass {
  margin: auto;
}

.icon {
  height: 5%;
  width: 5%;
  margin-left: 0.2rem;
  display: inline;
}

.editLink {
  display: none;
}

.editLinkTextbox {
  margin-left: 0.5rem;
  width: 50%;
}

.form {
  width: 100%;
}

.announcement {
  width: 100%;
}

#announcementDesc {
  height: 150px;
}

.actionButton {
  background-color: white;
  color: black;
  border: 2px solid #707372;
  transition-duration: 0.2s;
  margin: 0.25rem;
}

.actionButton:hover {
  background-color: #707372;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cdk-drop-list{
  width: 100% !important;
}
#tableTitle {
  display: flex;
  justify-content: center;
  color: white;
}
/*
.column-container {
  width: 600px;
  height: 500px;
  margin: 0 15px 0;
  vertical-align: top;
  padding-top: 50px;
}*/
mat-card {
  margin: 1em;
  cursor: pointer;
}
.list {
  border: black solid 1px;
  height: inherit;
  width: inherit;
  overflow-y: scroll;
  background-color: rgba(112, 115, 114);
}

.column-container{
  width: 31% !important;
  height: 100%;
  margin-left: 0% !important;
  margin-right: 0% !important;

  display: inline-block;
  margin-top: 0%;
}
.list-container{
  width: 100% !important;
}
h1{
  padding-top: 20px;
  font-size: 36px;
}
select{
  font-weight: bold;
  border-left: none;
  font-size: 20px;
  height: 50px;
  width: 349px;
}
#teams{
  width: 100%;
}
