ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
  float: right;
  margin: 0.6rem;
  font-family: Trebuchet MS, sans-serif;
  }

ul li a:hover {
  color: #c08c0c;
}

li a {
  display: inline;
  color: #ffffff;
  text-align: center;
  padding: 15px 5px;
  text-decoration: none;
  font-family: Trebuchet MS, sans-serif;
}

.navPosition{
  padding-left: 15px;
}

.loginout {
  font-size: large;
}
