.projLayoutDiv {
  font-family: Trebuchet MS, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 150%;
}

a {
  color: #c08c0c;
}

h1 {
  align-self: center;

}


.term-header {
  font-weight: bold;
  align-self: center;
  width: 85%;
}

.titles {
  position: absolute;
  top: 180px;
  left: 450px;
}
.jumboTitle {
  font-size:  calc(1rem + 3vw);
  text-align: center;
  margin-top: 6rem;
  margin-left: 5rem;
}

.jumboSubTitle {
  text-align: center;
  font-size: calc(1rem + 1vw);
  margin-left: 5rem;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.summer-cards,
.fall-cards {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 85%;
  justify-content: space-between;
}

.card {
  flex: 0 1 49%;
}

.card-footer {
  text-align: center;
}

.leader-text {
  float: left;
  display: inline-block;
}

.status-text {
  display: inline-block;
}

.card-text-short {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}


mat-card-content {
  font-size: 17px;
  font-family: Trebuchet MS, sans-serif;
}

mat-card-title {
  font-size: 35px;
  font-family: Trebuchet MS, sans-serif;
}

.client-text {
  float: right;
  display: inline-block;
}

.projIntro {
  width: 75%;
  line-height: 225%;
  font-size: large;
  align-self: center;
  margin: 2rem;
  background-color: #707372;
  color: #ffffff;
}

button {
  background-color: #c08c0c;
  font-family: Trebuchet MS, sans-serif;
}
.btn {
  color: #c08c0c;
  background-color: transparent;
  border: none;
  font-family: Trebuchet MS, sans-serif;
}

.btn:hover {
  background-color: #c7bcc2;
  font-weight: bold;
}
