<div class="clientContent">
  <!-- Sidebar Start -->
  <div class="wrapper sideBar">
    <nav id="sidebar">
      <ul class="list-unstyled components sidebarNav">
        <li class="active">
          <a href="client-dashboard">Overview</a>
        </li>
        <li>
          <a href="client-dashboard">Submitted RFP's</a>
        </li>
        <li>
          <a href="client-dashboard">Past Projects</a>
        </li>
        <li>
          <a href="client-dashboard">Other</a>
        </li>
        <li>
          <a href="../changepw">Update Password</a>
      </ul>
    </nav>
  </div>
  <!-- Sidebar End -->
  <!-- Column 1 Start -->
  <div class="column1">
    <!-- Pending Project Requests Start -->
    <div class="RequestsCard " >
      <mat-card>
        <mat-card-title>Submitted Requests</mat-card-title>
        <mat-card-content>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Project Title</th>
              <th scope="col">Organization</th>
              <th scope="col">RFP</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let RFPs of getRFPs()'>
              <td>{{RFPs.projectTitle}}</td>
              <td>{{RFPs.organization}}</td>
              <td><a href="assets/images/TopImage.JPG">RFP</a></td>
              <td>{{RFPs.status}}</td>
            </tr>

            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Pending Project Requests End -->
    <!-- Active Project Start -->
    <div class="projectsCard">
      <mat-card>
        <mat-card-title>All Active and Past Projects</mat-card-title>
        <mat-card-content>
          <div id="accordion">
            <div *ngFor="let project of getProjects()">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-outline" (click)="collapsed.toggle()">
                      {{ project.title }}
                    </button>
                  </h5>
                </div>

                <div #collapsed="ngbCollapse" [ngbCollapse]="!isCollapsed" data-parent="#accordion">
                  <div class="card-body">
                    <a href="{{ project.azureLink }}" target="_blank">Click here to see the Azure board for this project.</a>
                    <br>
                    <br>
                    {{ project.descLong }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Active Project End -->
    <!-- RFP Section Start -->
    <div class="RFPCard">
      <mat-card>
        <mat-card-title>Submit Request For Project</mat-card-title>
        <mat-card-content>
          <form id="submitRFP">
			      <button class="submitRFP" routerLink='/submitRFP' mat-button>Submit RFP</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- RFP Section End -->
  </div>
  <!-- Column 1 End -->
  <!-- Column 2 Start -->
  <div class="column2">
    <!-- Iteration Start -->
    <div class="evaluationCard">
      <mat-card class="members1">
        <mat-card-title>Iteration Evaluations</mat-card-title>
        <mat-card-content>
          No Iterations Evaluations have been completed
        </mat-card-content>
      </mat-card>
      <!-- Iteration Evaluations ends -->
      <!-- Upcoming Iterations -->
      <mat-card class="members2">
        <mat-card-title>Upcoming Iterations</mat-card-title>
        <mat-card-content>
          You have no upcoming Iterations
        </mat-card-content>
      </mat-card>
      <mat-card class="members3">
        <mat-card-title>Azure Links</mat-card-title>
        <mat-card-content>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Azure Link</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let Projects of getProjects()'>
              <td>{{Projects.title}}</td>
              <td><a href="{{Projects.azureLink}}">Link</a></td>
            </tr>

            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Members End -->
    <!-- Other Start End -->
    <div class="otherCard">
      <mat-card>
        <mat-card-title>Other Client Stuffs</mat-card-title>
        <mat-card-content>
          Thank you for visiting the website for Dalhousie's Community Outreach class.  This class provides students with
          invaluable experience working with real-world projects and actual clients to ensure the clients' needs are met.  This
          experience is all gained through group work and in-class guidance that provides students with a safe first experience
          with actual projects.
        </mat-card-content>
        <mat-card-content>
          In this class, students are placed in groups that consist of second, third and fourth year students, distributed evenly
          to ensure a fair and productive mix of skill, learning and leadership development.  These groups are overseen and
          mentored by exceptional and experienced Teaching Assistants that will ensure both that the students meet the learning
          outcomes and that the clients leave happy with a product that will be valuable to them. Student groups will
          communicate directly with the client in order to fully understand client expectations, desired features and receive
          feedback and provide deliverables at specified increments.  The students themselves will manage the deliverables and
          expectations and present the final product at the end of the designated semester.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Column 2 End -->
</div>
