.card {
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.stars {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.singleStar {
  width: 1rem;
  color: #c08c0c;
}

h2 {
  margin-bottom: 0px;
}

.box {
  margin: 2% 20%;
}

.jumboSubTitle {
  font-size: calc(1rem + 1vw);
  text-align: center;
  margin: 1% 20%;
  padding: 1%;
  height: 100%;
}

.headerstyle {
  width: 60%;
  line-height: 155%;
  align-self: center;
  margin: 1rem;
  background-color: #707372;
  color: #ffffff;
}

.holder {
  font-family: "Bahnschrift", "Arial Narrow", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 150%;
}