.card {
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.stars {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.singleStar {
  width: 1rem;
  color: #c08c0c;
}

h2 {
  margin-bottom: 0px;
}

.box {
  margin: 2% 20%;
}

.jumboSubTitle {
  font-size: calc(1rem + 1vw);
  text-align: center;
  margin: 1% 20%;
  padding: 1%;
  border: #000000 1px solid;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #c08c0c;
}
