<mat-card>
    <mat-card-title>Pending RFPs</mat-card-title>
    <mat-card-content>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company</th>
          <th scope="col">RFP Link</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of getStudentTeams; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{ r.organization }}</td>
          <td (click)="generatePDF(r)" class="linkDisplay"><a href="/admin-dashboard">View RFP</a></td>
          <div ngbDropdown class="dropdownClass">
            <td ngbDropdownToggle>{{ r.status }}</td>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="ApproveRFP(r)">Approve Request</button>
              <button ngbDropdownItem (click)="RejectRFP(r)">Reject Request</button>
            </div>
          </div>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
