<div class="clientContent">
    <!-- Sidebar Start -->
    <div class="wrapper sideBar">
      <nav id="sidebar">
        <ul class="list-unstyled components sidebarNav">
          <li class="active">
            <a href="student-dashboard">Overview</a>
          </li>
          <li>
            <a href="student-dashboard">Submitted RFP's</a>
          </li>
          <li>
            <a href="student-dashboard">Azure Links</a>
          </li>
          <li>
            <a href="student-dashboard">Past Projects</a>
          </li>
          <li>
            <a href="student-questionnaire">Starter Questionnaire</a>
          </li>
          <li>
            <a>Dynamic Questionnaire</a>
          </li>
          <li>
            <a href="student-dashboard">Other</a>
          </li>
          <li>
            <a href="../changepw">Update Password</a>
        </ul>
      </nav>
    </div>
    <div class="quest">
       <!---dynamitic generate form -->
       <!-- I have no idea how that work but it works-->
       <div class="content-margin" style="width: 50%;">
         <form [formGroup]="formGroup" class="k-form">
             <dynamic-kendo-form [group]="formGroup"
                                 [model]="formModel">
             </dynamic-kendo-form>
           </form>
           <pre>{{formGroup.value | json}}</pre>
         </div>
         
      </div>
