
<form id="discussionBoard" class="form">
  <mat-form-field class="discussion"><mat-label>Discussion Title: </mat-label><textarea required name="DiscussionTitle" id="DiscussionTitle" matInput type="string"></textarea></mat-form-field>
  <mat-form-field class="discussion"><mat-label>Discussion Description: </mat-label><textarea required name="DiscussionDesc" id="DiscussionDesc" matInput type="string"></textarea></mat-form-field>
  <button type="reset" class="btn btn-secondary" (click)="CreateDiscussion()"> Post Discussion </button>
</form>
