.homeLayoutDiv {
    font-family: 'Bahnschrift', "Arial Narrow", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

    a {
      color: #c08c0c;
    }

  .titles {
    position: absolute;
    top: 180px;
    left: 450px;
  }

  .card-title {
    font-weight: bold;
    font-size: 18px;
  }
  .webTitle {
    font-size: 4em;
  }

  .webSubTitle {
    font-size: 2em;
  }

  .projIntro {
    width: 85%;
    align-self: center;
    margin: 2rem;
    background-color: #707372;
    color: #FFFFFF;
  }


  .startProjectSection {
    width: 30%;
    margin: 1rem;
  }

  .pastProjectsSection {
    width: 30%;
    margin: 1rem;
  }

  .forStudentsSection {
    width: 30%;
    margin: 1rem;
  }

  .topRowLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    margin: auto;
  }


  .btn {
    color: #c08c0c;
    background-color: transparent;
    border: none;
    font-family: 'Bahnschrift', "Arial Narrow", serif;
    text-align: left;
    position: relative;right: 0.5rem;
  }

  .btn:hover {
    background-color: #C7BCC2;
    font-weight: bold;
  }

  .jumboTitle {
    font-size: calc(1rem + 3vw);
    font-family:  'Arial Regular';
    margin-top: 6rem;
    margin-left: 5rem;
  }

  .jumboSubTitle {
    font-size: calc(1rem + 1vw);
    font-family:  'Arial Regular';
    text-align: center;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  .discussions {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto auto 2rem auto;
  }
  input {
    width: 50%;
    padding: 30%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
}
button {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
}

.discussion{
  margin:auto;
  padding: 100px;
  margin-left: 150px;
}

#exampleFormControlTextarea1{
  width: 50%;
  margin:auto;
}

#exampleFormControlTextarea2{
  width: 70%;
  height: 200px;
  margin:auto;
}

label{
  font-size: larger;
  padding-left: 700px;
  padding-top: 30px;
}
.mb-3{
  margin: 0 auto;
}


.container {
  position: relative;
  padding-left: 460px;
 
}

button{
  width: 300px;
  height: 100px;
  background-color: #c08c0c;
  margin-bottom: 100px;
  color:white;
  border:none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}