.homeLayoutDiv {
  font-family: Trebuchet MS, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 150%;
}
  a {
    color: #c08c0c;
  }
.titles {
  position: absolute;
  top: 180px;
  left: 450px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}
.webTitle {
  font-size: 4em;
}

.webSubTitle {
  font-size: 2em;
}

.cases{
  width: 85%;
  position: relative;
  align-self: center;
  justify-content: center;
}

.projIntro {
  width: 85%;
  align-self: center;
  margin: 2rem;
  background-color: #707372;
  color: #ffffff;
}


.startProjectSection {
  width: 30%;
  margin: 2rem;
}

.pastProjectsSection {
  width: 30%;
  margin: 1rem;
  height: 85%;
}

.forStudentsSection {
  width: 30%;
  margin: 1rem;
}

.topRowLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: 85%;
}


.btndal {
  color: #c08c0c;
  background-color: transparent;
  border: none;
  font-family: Trebuchet MS, sans-serif;
  text-align: left;
  position: relative;right: 0.5rem;
}

.btndal:hover {
  background-color: #C7BCC2;
  font-weight: bold;
}

.jumboTitle {
  font-size: calc(1rem + 3vw);
  font-family: Trebuchet MS, sans-serif;
  margin-top: 6rem;
  margin: auto;
}

.jumboSubTitle {
  font-size: calc(1rem + 1vw);
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  margin:auto;
  margin-top: 2rem;
}
.bigTitle {
  font-size: calc(1rem + 1vw);
  font-family: Trebuchet MS, sans-serif;
  line-height: 100%;
}

.testimonials {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto auto 2rem auto;
}

.focus{
  background-color: forestgreen;
  color: #FFFFFF;
}
.focuscard{
  width: 28%;
  margin: 1.5rem;
}

@media only screen and (max-width: 1060px) {
  .focuscard{
    width: 100%;
    margin: 1.5rem;
  }
}
