.homeLayoutDiv {
  font-family: 'Bahnschrift', "Arial Narrow", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

  a {
    color: #c08c0c;
  }

.titles {
  position: absolute;
  top: 180px;
  left: 450px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}
.webTitle {
  font-size: 4em;
}

.webSubTitle {
  font-size: 2em;
}

.projIntro {
  width: 85%;
  align-self: center;
  margin: 2rem;
  background-color: #707372;
  color: #FFFFFF;
}


.startProjectSection {
  width: 30%;
  margin: 1rem;
}

.pastProjectsSection {
  width: 30%;
  margin: 1rem;
}

.forStudentsSection {
  width: 30%;
  margin: 1rem;
}

.topRowLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: 85%;
}


.btndal {
  color: #c08c0c;
  background-color: transparent;
  border: none;
  font-family: 'Bahnschrift', "Arial Narrow", serif;
  text-align: left;
  position: relative;right: 0.5rem;
}

.btndal:hover {
  background-color: #C7BCC2;
  font-weight: bold;
}

.jumboTitle {
  font-size: calc(1rem + 3vw);
  font-family:  'Arial Regular';
  margin-top: 6rem;
  margin-left: 5rem;
}

.jumboSubTitle {
  font-size: calc(1rem + 1vw);
  font-family:  'Arial Regular';
  text-align: center;
  margin-left: 5rem;
  margin-top: 2rem;
}

.testimonials {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto auto 2rem auto;
}

.focus{
  background-color: #3ba86b;
  color: #FFFFFF;
}
