.membersContent {
    min-height: 800px;
    display: flex;
    flex-flow: row wrap;
}
  
.sideBar {
    min-height: 800px;
    background-color: #000000;
    max-width: 350px;
    width: 15%;
    color: white;
}
  
.sidebarNav li {
    height: 2em;
    margin: 2em;
    width: 100%;
}
  
.sidebarNav li a {
    color: white;
    font-size: small;
    text-decoration: none;
    height: 2em;
    padding: 0.7em 2em 0.7em 2em;
    width: 100%;
}
  
.sidebarNav li a:hover {
    color: white;
    background-color: #c08c0c;
    width: 100%;
    font-size: small;
    text-decoration: none;
}

.membersCard {
    width: 100%;
    margin: 2rem;
}

.members2 {
    margin-top: 2rem;
}

.actionButton {
    background-color: white;
    color: black;
    border: 2px solid #707372;
    transition-duration: 0.2s;
    margin: 0.25rem;
}
  
.actionButton:hover {
    background-color: #707372;
    color: white;
}