:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #d3d3d3;
    min-height: 800px;
}

.outer {
    background-color: white;
    width: 500px;
    border-radius: 25px;

}

.homeback {
    vertical-align: middle;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.welcome {
    margin-left: 50px;
    margin-top: 40px;
    width:400px;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
}

p {
    text-align:center;
    vertical-align: middle;
}

.form-footer a:hover {
    color:#c08c0c;
    
  }

  .homeback a:hover {
    color:#c08c0c;
  }

  a:link {

    text-decoration: none;
    color: #707372;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

a:visited {
    text-decoration: none;
    color: #707372;
  }

.form {
  width: 20rem;
  display: inline-block;
  margin: 40px auto 50px 85px;
  text-align: left;
}

.register {
    background-color: #c08c0c; 
    color: white;
    border: none;
    border-radius: 25px;
    height: 40px;
    width:320px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control {
    display:block;
    border-radius: 25px;
    border:black;
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.form-footer {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
